body {
  margin: 0;
  font-family: "Calibri";
}

.container {
  background-image: url('assets/background.png');
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.current-time {
  position: absolute;
  top: 130px;
  left: 88px;
  font-size: 60px;
  font-weight: bold;
}

.current-date {
  position: absolute;
  top: 195px;
  left: 125px;
  font-size: 30px;
  font-weight: bold;
}

table {
  border-collapse: collapse; 
}

th, td {
  text-align: center;
  font-weight: bold;
}

th {
  border: 0;
  padding: 4px; 
}

td {
  border: 1px solid black;
  padding: 8px; 
}

.active {
  background-color: #b3e5fc;
}

.salah-table {
  position: absolute;
  top: 250px;
  left: 52px;
  width: 280px;
}

.adhaan {
  color: #B71C1C;
}


.iqamah {
  color: #2E7D32;
}

.reload-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  position: absolute;
  top: 202px;
  left: 300px;
}

.reload-icon {
  width: 25px;
  height: 25px;
}

.nav-buttons {
  position: absolute;
  top: 110px;
  left: 145px;
  display: flex;
  gap: 54px;
}

.nav-button {
  background-color: black;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.disabled {
  background-color: lightgrey;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.375rem;
}